body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}
.contanier-acessibilidade{
    aspect-ratio: 55 / 1;
}
.espaco-coluna-start, .espaco-coluna-end{
    aspect-ratio: 80 / 1;
}
.linhas-acessibilidade{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    aspect-ratio: 55 / 1;
}
.espaco-linha-acessibilidade-start, .espaco-linha-acessibilidade-end{
    aspect-ratio: 3 / 1;
}
.espaco-linha-acessibilidade-center{
    aspect-ratio: 25 / 1;
}
.fonte-menor, .fonte-maior, .tema-escuro{
    background: transparent;
    border: none;
    flex: 2;
}
.buttons-acessibilidade{
    aspect-ratio: 8/1;
    flex-wrap: wrap;
}
.lista-acessibilidade{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    aspect-ratio: 3/1;
}
.lista-acessibilidade a{
    color: inherit;
    text-decoration: none;
    text-align: center;
    flex: 2;
}
.conainer-banner{
    aspect-ratio: 8/1;
}
#banner1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15% 85%;
}
.espaco-linha-menu-start{
    aspect-ratio: 3/1;
}
.container-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    aspect-ratio: 40/1;
    gap: 10vh;
    background: #1E2665;
}
#todos-eventos-link{
    align-content: center;
}
.barra-pesquisa{
    align-content: center;
    max-width: 80vh;
    background: white;
    width: 100%;
    aspect-ratio: 45/1;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 3vh;
}
.botao-pesquisar{
    background: transparent;
    border: none;
}
.input-pesquisa{
    aspect-ratio: 7/1;
    border: none;
    width: 92%;
    border-radius: 3vh;
    padding-left: 2vh;
}
ul li{
   list-style-type: none;
    color: inherit;
    text-decoration: none;
    text-align: center;
    flex: 2; 
}
li{
    list-style-type: none;
    color: inherit;
    text-decoration: none;
    text-align: center;
    flex: 2;
}
.funcionalidades{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    aspect-ratio: 3/1;
    align-items: center;
}
.funcionalidades-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 45px;
    aspect-ratio: 3/1;
    align-items: center;
    margin-left: -5vh;
}
.eventos-principais{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    aspect-ratio: 3/1;
    overflow: hidden;
}
.carrossel-eventos{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.carousel-inner{
    height: auto;
    max-width: 100%;
}
.item img{
    height: 100%;
    width:  100%;
    object-fit: contain;
}
.container-categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    aspect-ratio: 35/1;
    background: #1E2665;
}
.lista-categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    aspect-ratio: 35/1;
    gap: 13vh;
    align-items: center;
    margin-top: 2vh;
}
.lista-categorias li a{
    list-style-type: none;
    color: inherit;
    text-decoration: none;
    text-align: left;
    color: #FFFFFF;
    align-content: stretch;
}
.container-novos_eventos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    aspect-ratio: 5/1;
    align-items: center;
}
.interseccao h2{
    margin-left: 3vh;
    margin-top: 3vh;
}
.carrossel-novos_eventos1, .carrossel-novos_eventos2, .carrossel-novos_eventos3,.carrossel-novos_eventos4{
    display: flex;
    flex-direction: column;
    aspect-ratio: 5/1;
    margin-left: 1vh;
    align-items: start;
    max-width: 90%;
}

.carrossel-novos_eventos1 h4, .carrossel-novos_eventos2 h4, .carrossel-novos_eventos3 h4,.carrossel-novos_eventos4 h4, .carrossel-novos_eventos1 h5, .carrossel-novos_eventos2 h5, .carrossel-novos_eventos3 h5, .carrossel-novos_eventos4 h5{
    margin-left: 3vh;
}

.card-evento1, .card-evento2, .card-evento3, .card-evento4{
    display: flex;
    flex-direction: row;
    aspect-ratio: 1/1;
    align-self: center;
    margin-left: 1vh;
    max-width: 90%;
}

#img_evento1, #img_evento2,  #img_evento3,  #img_evento4{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
}
.container-sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    aspect-ratio: 5/1;
    align-items: center;
    gap: 10vh;
    background: #F0F0F0;
    margin-top: 5vh;
    text-align: center;
}
.container-sobre h4{
    font-weight: 500;
    text-align: start;
}
.lista-sobre{
    margin: 0px;
    padding: 0px;
}
.lista-sobre a{
   list-style-type: none;
   color: #1E2665;
   text-decoration: none;
   flex: 2;
}
.lista-sobre li{
    text-align: start;
    align-self: start;
}
.colunas-sobre{
    margin-left: 10vh;
}
.container-rodape{
    background: #1E2665;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    aspect-ratio: 5/1;
    align-items: center;
    justify-content: center;
    gap: 10vh;
}
.redes-sociais h3{
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    font-size: 5vh;
}
.icones-rodape{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin: 0px;
    padding: 0px;
}
